{% extends 'profile/main.html' %}
{% load static  %}
{% block content %}

<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 h-auto">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <img src="{% static 'images/AdminLTELogo.png' %}" style="width: 60px; margin-bottom: 5px; padding-top: 20px;">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text" style="--bs-body-font-weight: bold;font-family: Nunito, sans-serif;font-style: italic;font-size: 15px; margin-left: 5px; text-align: center;">Dental Assistant</div>
                </div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar" style="padding-top:20px ;">
                <li class="nav-item"><a class="nav-link " href="{% url 'home' %}"><i class="fas fa-clinic-medical"></i><span>Overview</span></a></li>
                <li class="nav-item"><a class="nav-link active" href="patient_profile_1.html"><i class="icon ion-person-add"></i><span>Add Patient</span></a></li>
                <li class="nav-item"><a class="nav-link" href="table.html"><i class="icon ion-person-stalker"></i><span>Patient</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content ">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid "><button class="btn btn-link d-md-none rounded-circle me-3 " id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group "><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ... "><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                    </form>
                </div>
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </nav>

            <div class="container-fluid ">
                <h3 class="text-dark mb-4 ">Add patient</h3>
                <div class="row mb-3 ">
                    <div class="col-lg-4 ">
                        <div class="card mb-3 ">
                            <div class="card-body text-center shadow "><img class="rounded-circle mb-3 mt-4 " src="{% static 'images/Jaw.jpg' %}" width="160 " height="160 ">
                                <div class="mb-3 "><button class="btn btn-primary btn-sm " type="button ">Edit Jaw</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4 ">
                            <div class="card-header py-3 ">
                                <h6 class="text-primary fw-bold m-0 ">Patient Files</h6>
                            </div>
                            <div class="card-body ">
                                <div class="row ">
                                    <div class="col-12 ">
                                        <div class="d-flex justify-content-start align-items-center mb-3 ">
                                            <i class="fas fa-file-alt me-3 "></i>
                                            <div>
                                                <div class="fw-bold ">File 1</div>
                                                <div class="small text-muted ">Added on Mar 9, 2023</div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center mb-3 ">
                                            <i class="fas fa-file-alt me-3 "></i>
                                            <div>
                                                <div class="fw-bold ">File 2</div>
                                                <div class="small text-muted ">Added on Mar 8, 2023</div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center mb-3 ">
                                            <i class="fas fa-file-alt me-3 "></i>
                                            <div>
                                                <div class="fw-bold ">File 3</div>
                                                <div class="small text-muted ">Added on Mar 7, 2023</div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center mb-3 ">
                                            <i class="fas fa-file-alt me-3 "></i>
                                            <div>
                                                <div class="fw-bold ">File 4</div>
                                                <div class="small text-muted ">Added on Mar 6, 2023</div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center mb-3 ">
                                            <i class="fas fa-file-alt me-3 "></i>
                                            <div>
                                                <div class="fw-bold ">File 5</div>
                                                <div class="small text-muted ">Added on Mar 5, 2023</div>
                                            </div>
                                        </div>



                                        <button class="btn btn-primary btn-sm " type="submit ">Add New File</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-lg-8 ">
                        <!--  -->
                        <div class="row ">
                            <div class="col ">
                                <div class="card shadow mb-3 ">
                                    <div class="card-header py-3 ">
                                        <p class="text-primary m-0 fw-bold ">Genaral Information</p>
                                    </div>
                                    <div class="card-body ">
                                        <form>
                                            <div class="row ">
                                                <div class="col ">
                                                    <div class="mb-3 ">
                                                        <label class="form-label " for="patient-name "><strong>Name</strong></label>
                                                        <input class="form-control " type="text " id="patient-name " placeholder="Patient name " name="patient-name ">
                                                    </div>
                                                </div>
                                                <div class="col ">
                                                    <div class="mb-3 ">
                                                        <label class="form-label " for="phone-number "><strong>Phone</strong></label>
                                                        <input class="form-control " type="number " id="phone-number " placeholder="Phone number " name="phone-number ">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col ">
                                                    <div class="mb-3 ">
                                                        <label class="form-label " for="age "><strong>Age</strong></label>
                                                        <input class="form-control " type="number " id="age " placeholder="Age " name="age ">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="progress"><strong>Progress</strong></label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="progress" id="beginning">
                                                            <label class="form-check-label" for="beginning">Beginning</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="progress" id="progress">
                                                            <label class="form-check-label" for="progress">Progress</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="progress" id="done">
                                                            <label class="form-check-label" for="done">Done</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col ">
                                                    <div class="mb-3 ">
                                                        <label class="form-label " for="gender"><strong>Gender</strong></label>
                                                        <input class="form-control " id="gender" placeholder="Gender" name="gender">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 ">
                                                <button class="btn btn-primary btn-sm " type="submit ">Save Profile</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div class="card-header ">
                                    <h3 class="card-title ">
                                        <i class="fas fa-exclamation-triangle "></i>Notes
                                    </h3>
                                </div>
                                <div class="alert alert-danger alert-dismissible ">
                                    <button type="button " class="close " data-dismiss="alert " aria-hidden="true ">&times;</button>
                                    <h5><i class="icon fas fa-ban "></i> Alert!</h5>
                                    Danger alert preview.
                                </div>
                                <div class="alert alert-info alert-dismissible ">
                                    <button type="button " class="close " data-dismiss="alert " aria-hidden="true ">&times;</button>
                                    <h5><i class="icon fas fa-info "></i> Alert!</h5>
                                    Info alert preview.
                                </div>
                                <div class="alert alert-warning alert-dismissible ">
                                    <button type="button " class="close " data-dismiss="alert " aria-hidden="true ">&times;</button>
                                    <h5><i class="icon fas fa-exclamation-triangle "></i> Alert!</h5>
                                    Warning alert preview.
                                </div>
                                <div class="alert alert-success alert-dismissible ">
                                    <button type="button " class="close " data-dismiss="alert " aria-hidden="true ">&times;</button>
                                    <h5><i class="icon fas fa-check "></i> Alert!</h5>
                                    Success alert preview.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5 ">
                    <div class="card-header py-3 ">
                        <p class="text-primary m-0 fw-bold ">Additional Fields</p>
                    </div>
                    <div class="card-body ">
                        <form>
                            <div class="mb-3 ">
                                <label for="medical-history " class="form-label ">Medical History:</label>
                                <textarea class="form-control " id="medical-history " name="medical-history " rows="5 "></textarea>
                            </div>
                            <div class="mb-3 ">
                                <label for="dental-history " class="form-label ">Dental History:</label>
                                <textarea class="form-control " id="dental-history " name="dental-history " rows="5 "></textarea>
                            </div>
                            <div class="mb-3 ">
                                <label for="x-ray-results " class="form-label ">X-Ray and Imaging Results:</label>
                                <textarea class="form-control " id="x-ray-results " name="x-ray-results " rows="5 "></textarea>
                            </div>
                            <div class="mb-3 ">
                                <label for="categorized-information " class="form-label ">Categorize Information:</label>
                                <textarea class="form-control " id="categorized-information " name="categorized-information " rows="5 "></textarea>
                            </div>
                            <div class="mb-3 ">
                                <label for="last-update-date " class="form-label ">Last Update Date:</label>
                                <input type="date " class="form-control " id="last-update-date " name="last-update-date ">
                            </div>
                            <div class="mb-3 "><button class="btn btn-primary btn-sm " type="submit ">Save </button></div>
                        </form>
                    </div>
                </div>
                <a href="patient_profile_1.html " class="btn btn-primary btn-rounded float-right " style="position: fixed; bottom: 20px; right: 20px; "><i class="fa fa-pencil "></i> Update Patient File</a>

            </div>

        </div>

        <footer class="bg-white sticky-footer ">
            <div class="container my-auto ">
                <div class="text-center my-auto copyright "><span>Copyright © Dental AI 2023</span></div>
            </div>
        </footer>
    </div>

</div>

{% endblock content %}