{% extends 'profile/main.html' %}

{% block content %}
<h1>visit page</h1>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
        <th scope="col">image</th>
        <th scope="col">description</th>
        <th scope="col">date created</th>
      </tr>
    </thead>
    <tbody>
      {% for  value in visit %}
      <tr>    
        <td> {{value.image}}</td>
        <td> {{value.description}}</td>
        <td> {{value.dateCreated}}</td>
      </tr>    
    {% endfor %}
    </tbody>
  </table>
</div>


{% endblock content %}
